.notes {
  width: 18%;
  margin-bottom: 100px;
}

.title {
  font-size: clamp(20px, 2vw, 25px);
  font-weight: 700;
}
.note_container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 200px;
}
.note {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #7d879c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.selected {
  font-weight: 800;
  color: #2b3445;
  text-decoration: underline;
}
.btn {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #187dca;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: none;
}

@media (width <= 1200px) {
  .aux {
    height: 470px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  .show {
    height: 1120px;
  }
  .notes {
    width: 80%;
  }
  .note {
    max-width: 90%;
  }
  .btn {
    display: block;
  }
}
