.timeline_container {
  padding: 0px 20px;
  width: 60%;
  height: 100%;
}

.header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.12);
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options {
  font-size: 14px;
  font-weight: 600;
  color: #2b3445;
}
.filter {
  display: flex;
  gap: 10px;
}
.header h1 {
  font-size: clamp(20px, 5vw, 44px);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
}

.timeline {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  height: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 2px;
  background: #2dcab1;
}

.event {
  position: relative;
  padding-bottom: 50px;
}

.dot {
  position: absolute;
  left: -11px;
  top: clamp(10px, 2vw, 25px);
  width: 25px;
  height: 25px;
  background-color: #2dcab1;
  border-radius: 50%;
}

.event_content {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.event_content h2 {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: clamp(17px, 3vw, 36px);
  font-weight: 400;
}

.event_content img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.type_post {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chip {
  font-size: 14px;
  font-weight: 800;
  color: #1cb59c;
  background-color: #d3fff5;
  padding: 3px 20px;
  border-radius: 50px;
}

.feat {
  color: #1cb59c;
  background-color: #d3fff5;
}
.fix {
  color: #ffb800;
  background-color: #fff8e5;
}

.description,
.date {
  color: #7d879c;
  font-size: 14px;
  font-weight: 600;
}

.data_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.liElement {
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
  color: #2b3445;
}
@media (width <= 1200px) {
  .liElement {
    font-weight: 600;
    font-size: clamp(14px, 2vw, 16px);
    color: #7d879c;
  }
  .timeline_container {
    padding: 0px 20px;
    width: 85%;
    height: 100%;
  }
  .header h1 {
    font-weight: 700;
  }
  .event_content h2 {
    font-weight: 600;
  }
}
