.home{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
  gap: 150px;
}


@media(width <= 1200px){
  .home{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 40px;
  }
}