.home{
  margin-top: clamp(20px, 5vw, 70px);
  display: flex;
  justify-content: center;
  padding: 0 50px;
  gap: 120px;
}


@media(width <= 1200px){
  .home{
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 40px;
  }
}